@using MenuPlanner.Shared.models
@using MenuPlanner.Client.Controls.IngredientControls.IngredientCardControls;
@inject HttpClient Http

<div class="card @Css">
    <div class="card-header"><h5>@Ingredient.Name</h5></div>
    <div class="card-body">
        <p class="card-title">@(MenuIngredient.Description ?? " ")</p>
        

        @if (ToggleEditMode)
        {
            <IngredientCardEdit @bind-MenuIngredient="MenuIngredient"></IngredientCardEdit>
        }
        else
        {
            <IngredientCardView MenuIngredient="MenuIngredient"></IngredientCardView>
        }
    </div>
    <div class="card-footer">
        @if (ToggleEditMode)
        {
            <button type="button" class="btn btn-primary" @onclick="AddIngredient">@addOrUpdate</button>

        }
        else
        {
            <button type="button" class="btn btn-success" @onclick="EditMenuIngredient">Edit</button>
            <button type="button" class="btn btn-danger" @onclick="@(() => RemoveMenuIngredient.InvokeAsync(MenuIngredient))">Remove</button>
        }
    </div>
</div>

