@using MenuPlanner.Shared.models
@inject PublicClient PublicClient

<div class="@DivClass">
    <div class="hs-searchbox">
        <input class="search @InputClass" name="searchText"
               type="text" placeholder="Search..." autocomplete="off" spellcheck="false"
               autocorrect="off" @oninput="@GetFilteredIngredients" value="@filter" @onkeydown="@Enter" />
    </div>
    @if (FoundIngredients != null)
    {
        <div class="hs-menu-inner border">

            @foreach (var ingredient in FoundIngredients)
            {
                <a class="dropdown-item" data-value="@ingredient.Name" @onclick="@(() => SetIngredient(ingredient))">@ingredient.Name</a>
            }
        </div>}

</div>



