@page "/ingredientList"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MenuPlanner.Shared.models.enums
@using MenuPlanner.Shared.models
@inject HttpClient Http
@attribute [Authorize]

<h3>Ingredients</h3>

<hr />
<h5>Add Ingredient</h5>
<div class="row">
    <EditForm Model="@newIngredient" OnValidSubmit="@AddIngredient">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            Name: <InputText @bind-Value="newIngredient.Name" class="form-control" />
        </div>

        <div class="form-group">
            Calories (100 g): <InputNumber @bind-Value="newIngredient.Calories" class="form-control" />
        </div>

        <div class="form-group">
            Price (100 g): <InputNumber @bind-Value="newIngredient.Price" class="form-control" />
        </div>

        <div class="form-group">
            Category:
            <InputSelect @bind-Value="newIngredient.Category" class="form-control" disabled="@isCategoryDisabled">
                @foreach (var value in Enum.GetValues(typeof(IngredientCategory)))
                {
                    <option>@value</option>
                }
            </InputSelect>
        </div>

        <div class="form-group">
            <label>Parent Ingredients</label>
            <div class="form-control" style="height: auto; min-height: 40px">
                @foreach (var ingredient in newIngredient.ParentIngredients)
                {
                    <div class="alert alert-secondary alert-dismissible d-inline number m-1 p-1">
                        @ingredient.Name<i class="fa fa-window-close ml-1" @onclick="() => RemoveParentIngredient(ingredient)"></i>
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            Parent Ingredient:
            <IngredientSearch IngredientChanged="StoreParentIngredient"></IngredientSearch>
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </EditForm>
</div>

<br />
<br />

@if (ingredients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h5>Ingredient List</h5>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Child Ingredients</th>
                <th>Parent Ingredients</th>
                <th>Calories</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in ingredients)
            {
                <tr>
                    <td>@ingredient.Name</td>
                    <td>@ingredient.Category</td>
                    <td>@string.Join(",", ingredient.ChildIngredients.Select(i => i.Name).ToList())</td>
                    <td>@string.Join(",", ingredient.ParentIngredients.Select(i => i.Name).ToList())</td>
                    <td>@ingredient.Calories</td>
                    <td>@ingredient.Price</td>
                    <td><a @onclick="(() => newIngredient = ingredient)" class="btn btn-primary">Edit</a></td>
                    <td><a @onclick="(() => DeleteIngredient(ingredient.IngredientId))" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Ingredient> ingredients;

    private Ingredient newIngredient = new Ingredient();

    private bool isCategoryDisabled;

    protected override async Task OnInitializedAsync()
    {
        newIngredient.ParentIngredients = new List<Ingredient>();
        await LoadIngredients();
    }

    private async Task AddIngredient()
    {
        await Http.PostAsJsonAsync<Ingredient>("api/Ingredients", newIngredient);
        newIngredient = new Ingredient();
        newIngredient.ParentIngredients = new List<Ingredient>();
        isCategoryDisabled = false;
        await LoadIngredients();
    }

    private async Task DeleteIngredient(Guid id)
    {
        var response = await Http.DeleteAsync($"api/Ingredients/{id}");

        if (response.IsSuccessStatusCode)
        {
            var responseText = await response.Content.ReadAsStringAsync();

            await LoadIngredients();

        }
        else
        {
            //todo
        }
    }

    private async Task LoadIngredients()
    {
        try
        {
            ingredients = await Http.GetFromJsonAsync<List<Ingredient>>("api/Ingredients");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private void StoreParentIngredient(Ingredient ingredient)
    {
        if (!newIngredient.ParentIngredients.Any(i => i.IngredientId == ingredient.IngredientId))
        {
            newIngredient.ParentIngredients.Add(ingredient);
        }
        newIngredient.Category = ingredient.Category;
        isCategoryDisabled = true;
    }

    private void RemoveParentIngredient(Ingredient ingredient)
    {
        newIngredient.ParentIngredients.Remove(ingredient);
    }

}

