@page "/ingredientList"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MenuPlanner.Shared.models.enums
@using MenuPlanner.Shared.models
@inject HttpClient Http
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h3>Ingredients</h3>

@if (ingredients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="form-row">
        <IngredientSearch DivClass="col-md-10" Ingredient="ingredients" IngredientChanged="@OnIngredientsChange"></IngredientSearch>
        <a class="btn btn-primary col-md-2 h-25" href="@($"{NavigationManager.BaseUri}addingredient")">Create</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Child Ingredients</th>
            <th>Parent Ingredients</th>
            <th>Calories</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var ingredient in ingredients.Result)
        {
            <tr>
                <td>@ingredient.Name</td>
                <td>@ingredient.Category</td>
                <td>@string.Join(",", ingredient.ChildIngredients.Select(i => i.Name).ToList())</td>
                <td>@string.Join(",", ingredient.ParentIngredients.Select(i => i.Name).ToList())</td>
                <td>@ingredient.Calories</td>
                <td>@ingredient.Price</td>
                <td><a class="btn btn-primary" href="@($"{NavigationManager.BaseUri}addingredient/{ingredient.Id}")">Edit</a></td>
                <td><a @onclick="(() => DeleteIngredient(ingredient.Id))" class="btn btn-danger">Delete</a></td>
            </tr>
        }
        </tbody>
    </table>
    <Pagination SurroundingFields="2" Count="@count" Total="ingredients.TotalResults" Skip="@skip" SkipChanged="@OnSkipChanged"></Pagination>
}

