@using System.IO
@using MenuPlanner.Shared.models
@using Org.BouncyCastle.Bcpg
@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Formats
@using SixLabors.ImageSharp.Formats.Jpeg
@using SixLabors.ImageSharp.Processing
@using Image = MenuPlanner.Shared.models.Image
@inject NavigationManager NavigationManager;

<div class="form-group">
    <LoadingOverlay IsLoading="@IsLoading" Done="@done" Total="@total" ShowProgress="true"></LoadingOverlay>
    @if (Menu.Images != null)
    {
        @foreach (var image in Menu.Images)
        {
            <span class="picture">
                @if (isNew(image))
                {
                    <img src="data:image/jpeg;base64, @(Convert.ToBase64String(image.ImageBytes))" alt="@image.AlternativeName" height="200" />
                }
                else
                {
                    <img src="@GetImagePath(image)" alt="@image.AlternativeName" height="200" />
                }
                <a class="remove-pic" role="button" @onclick="() => RemoveImage(image)">🗙</a>
            </span>
            <span>&nbsp;</span>
        }
    }
    <br />
    <br />
    <div class="custom-file">
        <InputFile accept="image/*" OnChange="OnInputFileChange" class="custom-file-input" multiple />
        <label class="custom-file-label">Add Pictures</label>
    </div>
    <br />
    <p>@filesMessage</p>
</div>

