@using MenuPlanner.Shared.models
@using Microsoft.EntityFrameworkCore.ChangeTracking.Internal

<div class="form-group">
    <h5>Steps:</h5>
    @foreach (var element in Steps.Select((e, i) => new {Step = e, Index = i}))
    {
        <div class="input-group form-group">
            <label class="steplabel" for="@($"Steps{element.Index}")">Step @(element.Index + 1):</label>
            <textarea class="form-control" rows="3" id="@($"Steps{element.Index}")" value="@(element.Step ?? String.Empty)" @onchange="@(e => OnChange(e,element.Index) )">  </textarea><a class="btn btn-danger delete" @onclick="@(() => RemoveStep(element.Step))">X</a>
           
        
            </div>
    }
    <a class="btn btn-success" @onclick="@AddStep">Add step</a>
</div>

